*.log
*.hdf5
__pycache__/
checkpoints/
*pth
*.pyc
wandb/
outputs/
env/*
!env/requirements.txt
!env/environment.yml
!env/environment.yaml
build/
install/
log/

# .local_setup.sh (not tracked in git)
ln -sfn ./offroad_navigation/models ros2_ws/src/torch_inference/torch_inference/models
ln -sfn ./offroad_navigation/checkpoints ros2_ws/src/torch_inference/torch_inference/checkpoints
