*.log
*.hdf5
__pycache__/
checkpoints/
*pth
*.pyc
wandb/
outputs/
env/*
!env/requirements.txt
!env/environment.yml
!env/environment.yaml
build/
install/
log/

ros2_ws/src/torch_inference/torch_inference/models/
ros2_ws/src/torch_inference/torch_inference/checkpoints/

.vscode/